.error{font-weight: bold;color: #990000}
.btn-bg{
	background-color: #ffffff ;
	color: #f15927;
	border-color: #f15927;
}
.btn-bg:hover{
	background-color:#f15927;
	color: #ffffff !important;
	border-color: #F0F0F0;
}
span {font-weight: bold;}
.span-primary{color: #337ab7}
.span-success{color: #5cb85c}
.span-block{color: #919495}
.cardmanager-body{padding-top: 10px;}
.addcardinfo-thumb{width: 30px}
.container{padding-top: 30px;}
div.cardinfo  .control-label {text-align: left !important;}

.auth {padding-top: 40px;}
.navbar-default {
  background-color: rgba(211, 211, 211, 0.75);
  border-color: #e7e7e7;
}
